In [3]:
# Import libraries necessary for this project
import numpy as np
import pandas as pd
from time import time
from IPython.display import display # Allows the use of display() for DataFrames

# Import supplementary visualization code visuals.py
#import visuals as vs

# Pretty display for notebooks
%matplotlib inline

# Load the Census dataset
data = pd.read_csv("testing.txt")


# Success - Display the first record
display(data.head())

  medicine   area speciality  price dr_class  exam_price clinic_hos  write
0    type1  area1      chest     45        a         220     clinic      1
1    type1  area4         im     45        b          90   hospital      1
2    type1  area2         gp     45        b          60   hospital      1
3    type1  area3         im     45        a         180     clinic      0
4    type4  area8      chest     36        a          75   hospital      0

In [12]:
total=data.isna()

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   medicine    30 non-null     object
 1   area        30 non-null     object
 2   speciality  30 non-null     object
 3   price       30 non-null     int64
 4   dr_class    30 non-null     object
 5   exam_price  30 non-null     int64
 6   clinic_hos  30 non-null     object
 7   write       30 non-null     int64
dtypes: int64(3), object(5)
memory usage: 2.0+ KB

In [13]:
total=total.sum().sort_values(ascending=False)
total

medicine      0
area          0
speciality    0
price         0
dr_class      0
exam_price    0
clinic_hos    0
write         0
dtype: int64